@font-face{
    font-family: myFont;
    src: url(./rasm/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf);
}

body{
    padding: 0;
    margin: 0;
    font-family: myFont;
}

.header{
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 0 20px;
}

.logo-img{
    margin-top: 13px;
}

li:hover{
    color: blue;
    cursor: pointer;
}

.main{
    width: 90%;
    height: 650px;
    margin: 0 auto;
    background-image: url(./rasm/Group\ 75.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
}
.main-text{
    width: 50%;
    height: 100%;
}

.main-image{
    width: 50%;
    height: 100%;
}
.main-image img {
    width: 50%;
}

.main-title{
    margin-top: 100px;
}

.subtitle{
    width: 70%;
    color: grey;
    line-height: 25px;
}

.btn-contact{
    background-color: blue;
    color: white;
    display: inline-block;
    padding: 25px 35px;
    border-radius: 50px;
    margin-top: 50px;
    cursor: pointer;
}

.main-image img{
    position: absolute;
    right: 0;
}

.client{
    width: 90%;
    display: flex;
    margin: 0px auto;
}

.client-title{
    width: 30%;
}

.client-logos{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.client-logos img{
    width: 200px;
    object-fit: none;
    object-position: center;
}
.business {
    height: 100vh;
    background: url("./rasm/Group\ 76.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}

.business-text {
    width: 40%;
    margin-top: 300px;
}

.business-card {
    width: 60%;
    display: flex;
}

.card {
    display: inline-block;
    padding: 50px;
    text-align: center;
    background-color: white;
    width: 300px;
    height: 380px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(152, 152, 152, 0.2);
    margin: 30px 0;
    box-sizing: border-box;
}

.first-col,
.second-col {
    margin: 0 15px;
}

.first-col {
    margin-top: 50px;
}

.card-img {
    display: inline-block;
    padding: 25px;
    border-radius: 25px;
}

.card-subtitle {
    color: grey;
}

.video{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background-image: url("./rasm/Great\ Since.png");
    background-repeat: no-repeat;
    background-position: center;
}

.vdga{
    width: 50%;

}
.vdga iframe{
    width: 90%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.254)  ;
}

.textga{
    width: 50%;
    margin-top: 70px ;
}

.video{
    display: flex;
}

.adasi{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

.akasi{
    text-align: center;
}

.opasi{
    display: flex;
    justify-content: space-between;
}

.ikki{
    width: 40%;
}

.bir,.uch{
    width: 30%;
}

.father{
    display: flex;

}

.brother{
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius:100% ;
    margin: 5px;
}

.sister{
    background-color: rgba(0, 0, 255, 0.27);
    width: 15px;
    height: 15px;
    border-radius:100% ;
    margin: 5px;
}

.subscribe{
    width: 77%;
    height: 300px;
    background: url(./rasm/Group\ 78.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    margin: 0 auto;
}

.form{
    width: 80%;
    background-color: #f4f9ff;
    height: 200px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    display: flex;
}

.form-text{
    padding: 30px 100px;
}


.form-input{
    background-color: #2639ed;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 120px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.form-input input{
    background-color: white;
    border: none;
    position: absolute;
    border-radius: 50px;
    padding: 20px;
    width: 350px;
    top: 70px;
    left: -30px;
    box-shadow: 0 3px 10px rgba(170, 170, 170, 0.224);
}


.form-input button{
    border: none;
    background-color: #2639ed;
    padding: 15px;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 75px;
    left: 250px;
}

.hr{
    width: 90%;
    margin: 0 auto;
}

.footer{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}